# Smart Mining Safety - Dependencies
fastapi
uvicorn[standard]
sqlalchemy
jinja2
numpy
scikit-learn
joblib
python-multipart
matplotlib
flask_cors
requests
Flask-SocketIO
Flask-SQLAlchemy
PyMySQL
eventlet
cryptography
